<h1>Las socias y los socios...</h1>

<div class="action" id="create_action">
  <div id="header">
    <%= link_to_function 'un socio o socia nueva',
      "Effect.toggle($('form'), 'slide');"
  %>
  </div>
  <label>&nbsp;</label>
  <div id="form" style="display: none">
    <% form_tag :action => 'create' do -%>
      n&uacute;mero de socio: <%= @number %>
      <label>&nbsp;</label>
      <%= render :partial => 'form' %>
      <br/>
      <%= submit_tag "pescar!" %>
    <% end -%>
  </div>
</div>


<h2>Personas con películas alquiladas</h2>
<table>
  <tbody>
    <% for rent in Rent.open -%>
      <% if rent.member %>
        <tr class="<%= cycle 'par', 'impar' %>">
          <td><%= rent.member.number %></td>
          <td><%= link_to_member rent.member %></td>
          <td class="items"><% for item in rent.items -%><div class="item <%= item_class item %>"><%= link_to_movie item.movie %></div><% end -%></td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>