<h1>
  <%= link_to image_tag('prev.png'), :action => 'ver', :id => @member.number - 1 %>
  <%= link_to image_tag('next.png'), :action => 'ver', :id => @member.number + 1 %>
  [<%= @member.number %>]
  <span id="name"><%= @member.name %></span>
</h1>

<div  id="info_panel">
  <%= render :partial => 'info', :locals => { :member => @member} %>
</div>

<div class="action" id="create_action" style="display: none">
  <h2>Datos</h2>
  <% form_remote_tag :url => {:controller => 'socios', :action => 'update', :id => @member}  do -%>
    <%= render :partial => 'form' %>
    <br/>
    <%= submit_tag "cambiar!" %>
    <%= link_to_function 'qu&eacute; va! lo dejo como estaba',
      'discard_edit_info()' %>
  <% end -%>
</div>

<%= render :partial => 'rent_action', :locals => {:member => @member, :rent => @rent} %>

<h2>
  alquileres sin devolver
</h2>
<div class="rent_list" id="rent_list_waiting">
  <%= render :partial => '/alquileres/rent', :collection => @waiting_rents %>
</div>
<div class="rent_list" id="rent_list_delayed">
  <% rents = @member.find_all_rents_delayed_on Time.now %>
  <%= render :partial=> '/alquileres/rent', :collection => rents %>
</div>

<h2>Pelis alquiladas con anterioridad</h2>
<table>
  <tbody>
  <% for rent in @member.closed_rents -%>
    <% for item in rent.items %>
    <tr class="<%= cycle 'par', 'impar' %>">
      <td class="item closed">&nbsp;</td>
      <td><%= fecha rent.begin_date %></td>
      <td><%=  link_to_movie item.movie %></td>
    </tr>
    <% end %>
  <% end -%>
  </tbody>
</table>