<h1>
  <%= link_to image_tag('prev.png'), {:action => 'ver', :id => (@movie.number - 1)} %>
  <%= link_to image_tag('next.png'), {:action => 'ver', :id => (@movie.number + 1)} %>
  <span id="number">(<%= @movie.number %>) </span>
  <span id="title"><%= @movie.title %></span>
</h1>

<div class="action" id="info_panel">
  <%= render :partial => 'info', :locals => {:movie => @movie} %>
</div>

<div class="action" id="create_action" style="display: none">
  <% form_remote_tag :url => {:controller => 'pelis',  :action => 'update', :id => @movie}  do -%>
    <%= render :partial => 'form' %>
    <br/>
    <%= submit_tag "cambiar!" %>
    <%= link_to_function 'qu&eacute; va! lo dejo como estaba',
      'discard_edit_info()' %>

  <% end -%>
</div>


<% if !@rent.nil? %>
  <h2>esta peli est&aacute; alquilada por
    [<%= @rent.member.number %>]
    <%= @rent.member.name %>
  </h2>
  <div class="rent_list" id="rent_list_<%= @rent.state %>">
    <%= render :partial => '/alquileres/rent', :locals => {:rent => @rent} %>
  </div>

<% else %>

  <div id="rent_movie_action" class="action">
    <% form_tag :action => 'rented_by', :id => @movie.number do -%>
      alquilar esta peli por socio n&uacute;mero:
      <%= text_field_tag 'member_number' %>
    <% end -%>
  </div>

<% end %>


<h2>Otras personas que alquilaron esta película</h2>
<table>
  <tbody>
    <% for item in @movie.closed_items -%>
      <tr class="<%= cycle 'par', 'impar' %>">
        <td class="item closed">&nbsp;</td>
        <td><%= fecha item.rent.begin_date %></td>
        <td><%=  link_to_member item.rent.member %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
