<tr class="item <%= class_of_item item %> <%= cycle 'par', 'impar' %>">
  <td><%= fecha item.begins_at %></td>
  <td>»</td><td> <%= fecha  item.closed_at ? item.closed_at : item.ends_at %></td>
  <% if !@hide_member -%>
    <td>[<%= item.member.number if item.member %>]</td>
    <td class="name"><%= link_to_member item.member %></td>
  <% end -%>
  <% if !@hide_movie -%>
    <td>(<%= item.movie.number %>)</td>
    <td class="title"><%= link_to_movie item.movie %></td>
  <% end -%>
  <%  if item.open? -%>
    <td class="actions">
      <%= link_to( 'me equivoqué, no quería alquilar esta', {:action => 'alquiler_erroneo', :id => item}, :class => 'action red') if item.open_today? && @member %>
      <%= link_to 'devolver', {:action => 'devolver', :id => item}, :class => 'action green' %>
    </td>
    <td class="rent_days"><%= retraso item %></td>
  <% elsif item.closed_today? -%>
    <td class="actions"><%= link_to 'me equivoqué, sigue alquilada', {:action => 'nodevolver', :id => item}, :class => 'action red' %></td>
    <td />
  <% else %>
    <td /><td />
  <% end -%>
</tr>