<h1>El gabinete </h1>

<h3>Informe diario:</h3>
<% form_tag({:action => 'daily_report'}) do -%>
    <%= select_day %> <%= submit_tag 'ver informe diario' %>
<% end -%>

<h3>Informe mensual:</h3>
<% form_tag({:action => 'month_report'}) do -%>
    <%= select_month %> <%= submit_tag 'ver informe mensual' %>
<% end -%>



<h2>Tarifas</h2>
<div class="actions"><%= link_to 'añadir tarifa', {:action => 'editar_tarifa', :id => nil}, :class => 'action green' %></div>
<table>
  <thead>
    <tr><td>Nombre</td><td>Precio</td><td>Días en alquiler</td><td>Precio retraso</td><td></td></tr>
  </thead>
  <tbody>
    <% for tarifa in Tarifa.find :all -%>
      <tr class="<%= cycle 'par', 'impar' %>">
        <td><%= tarifa.name %></td>
        <td><%= precio tarifa.price %> €</td>
        <td><%= tarifa.days_to_rent %> días</td>
        <td><%= precio tarifa.delay_price %> €</td>
        <td class="actions"><%= link_to('modificar', {:action => 'editar_tarifa', :id => tarifa}, :class => 'action orange') %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<h2>Movimientos</h2>
<div class="actions">
  <%= link_to 'apuntar un gasto', {:action => 'socio', :id => 12}, :class => 'action green' %>
</div>

<table>
  <tbody>
    <tr><td class="group" colspan="3">Pendientes de cobrar!</td></tr>
    <%= render :partial => 'pasta', :collection => Pasta.opened %>
    <tr><td class="group" colspan="3">Cobrado hoy (total: <%=  precio @info.total_pasta %>€)</td></tr>
    <%= render :partial => 'pasta', :collection => @info.pasta %>
  </tbody>
</table>
