<h1>El gabinete </h1>

<h2>Tarifas</h2>
<table>
  <thead>
    <tr><td>Nombre</td><td>Precio</td><td>Días en alquiler</td><td>Precio retraso</td><td></td></tr>
  </thead>
  <tbody>
    <% for tarifa in Tarifa.find :all -%>
      <tr class="<%= cycle 'par', 'impar' %>">
        <td><%= tarifa.name %></td>
        <td><%= precio tarifa.price %> €</td>
        <td><%= tarifa.days_to_rent %> días</td>
        <td><%= precio tarifa.delay_price %> €</td>
        <td class="actions"><%= link_to('modificar', {:action => 'editar_tarifa', :id => tarifa}, :class => 'action orange') %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<div class="actions"><%= link_to 'añadir tarifa', {:action => 'editar_tarifa', :id => nil}, :class => 'action green' %></div>
