<h1>[<%= @member.number %>] <%= @member.name %></h1>
<%= content_tag(:div, @member.comments, :class => 'important') if @member.comments && !@member.comments.empty? %>

<div class="info">
  <!--  <div class="actions"><%= empty_link 'mostrar datos', :show_info, 'action green' %></div> -->
  <div id="info_data">
    <p><label>Número:</label><%= @member.number %></p>
    <p><label>Nombre:</label><%= @member.name %></p>
    <p><label>Amig@s:</label><%= @member.friends %></p>
    <p><label>Dirección:</label><%= @member.address %></p>
    <p><label>Teléfono:</label><%= @member.telephone %></p>
    <div class="actions"><%= link_to 'modificar', {:action => 'edit_member', :id => @member}, :class => 'action orange' %>
      <!--      <%= empty_link 'ocultar datos', :hide_info, 'action green' %> -->
    </div>
  </div>
</div>

<div class="rent">
  <% form_tag(url_for({:controller => 'videoclub', :action => 'alquilar', :id => @member}), :method => 'get') do -%>
    Alquilar película: <%= text_field_tag 'movie_number' %><%= submit_tag 'alquilar' %>
  <% end -%>
</div>
<div class="buy">
  <h1>Realizar una compra</h1>
  <% form_tag(url_for({:controller => 'videoclub', :action => 'comprar', :id => @member}), :method => 'get') do -%>
    Esto <%= text_field_tag 'description' %> vale <%= text_field_tag 'price' %> € <%= submit_tag 'comprar' %>
  <% end -%>
</div>

<%= content_tag(:div, "Está pendiente de ser cobrado", :class => 'important') if @member.pending_pasta? %>

<h2>La pasta</h2>
<table>
  <tbody>
    <tr><td class="group" colspan="3">Pendiente de cobrar (total: <%= precio @member.pending_total %>€)</td>
    <td class="actions"><%= link_to('cobrar todo', {:action => 'cobrar_todo', :id => @member}, :class => 'action green') %></td></tr>
    <%= render :partial => 'pasta', :collection => @member.pending_pasta %>
    <tr><td class="group" colspan="4">Cobrado hoy</td></tr>
    <%= render :partial => 'pasta', :collection => @member.closed_pasta_today %>
  </tbody>
</table>

<h2>La salsa</h2>
<table>
  <tbody>
    <% @hide_member = true -%>
    <tr><td class="group" colspan="5">Pelis por devolver</td></tr>
    <%= render :partial => 'item', :collection => @member.open_items %>
    <tr><td class="group" colspan="5">Pelis alquiladas anteriormente</td></tr>
    <%= render :partial => 'item', :collection => @member.closed_items %>
  </tbody>
</table>