<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag 'reset', 'videoclub' %>
    <%= javascript_include_tag 'jquery-1.2.6.pack.js'  %>
    <%= yield :header %>
  </head>
  <body>
    <div id="controls" class="section">
      <div class="main">
        <div class="action">
          <%= link_to image_tag('carnet.png'), :action => 'socios' %>
          <% form_tag(url_for({:controller => 'videoclub', :action => 'ver'}), :method => 'get') do -%>
            <%= text_field_tag 'member_id' %>
          <% end -%>
        </div>
        <div class="action">
          <%= link_to image_tag('dvd.png'), :action => 'pelis' %>
          <% form_tag(url_for({:controller => 'videoclub', :action => 'ver'}), :method => 'get') do -%>
            <%= text_field_tag 'movie_id' %>
          <% end -%>
        </div>
        <div class="search">
        </div>
        <div id="search_controls"></div>
      </div>
    </div>

    <div id="content" class="section">
      <div class="main">
        <%= content_tag :div, flash[:notice], :class => 'notice' if flash[:notice] %>
        <%= yield %>
      </div>
      <div class="search"></div>
    </div>

  </body>
</html>